body {
  display: -ms-grid;
  display: grid;
  place-content: center;
  background: #c3cfe2;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  color: lightslategray;
  font-size: 40px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -1em;
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial__header {
  height: 350px;
  width: 400px;
  background-color: #fff;
  border-radius: 25px 25px 0px 0px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.testimonial__text {
  color: #71767e;
  letter-spacing: 4px;
  font-size: 18px;
  margin: 20% 10% 10% 10%;
  line-height: 1.5;
}

.testimonial__footer {
  height: 200px;
  width: 400px;
  background-color: #686de0;
  border-radius: 0px 0px 25px 25px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.testimonial__photo img {
  width: 140px;
  border-radius: 50%;
  border: 8px solid #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -80px;
  margin-bottom: 5%;
}

.testimonial__name {
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  margin-bottom: 5%;
}

.testimonial__website {
  color: #a9acff;
  font-size: 22px;
  text-align: center;
  margin-bottom: 5%;
}

.portfolio-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.portfolio-grid__person {
  height: 366px;
  width: 266px;
  border-radius: 10px;
  background-color: #a9acff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.portfolio-grid__header {
  background-color: #fff;
  height: 250px;
  border-radius: 10px 10px 0px 0px;
}

.portfolio-grid__text {
  color: #71767e;
  letter-spacing: 4px;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  padding: 12% 10% 12% 10%;
}

.portfolio-grid__footer {
  background-color: #686de0;
  height: 116px;
  width: 266px;
  border-radius: 0px 0px 10px 10px;
}

.portfolio-grid__photo img {
  width: 100px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin: -20% 25% 5% 25%;
}

.portfolio-grid__name {
  color: #fff;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 1.0;
  text-align: center;
}

.portfolio-grid__website {
  color: #a9acff;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 1.0;
  text-align: center;
}

.portfolio-grid__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #686de0;
  border-radius: 10px;
}

.portfolio-grid .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  margin: 45% 25% 0% 25%;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
}

.portfolio-grid__overlay:hover {
  opacity: 0.95;
}

@media (max-width: 780px) {
  .portfolio-grid {
    gap: 50px;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 420px) {
  .portfolio-grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.smb {
  position: fixed;
  right: 0;
  top: 50%;
  color: #fff;
}

.smb__icons li {
  list-style-type: none;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  padding-top: 20px;
  padding-left: 10px;
}

.smb__icons--fa-laptop-code {
  background-color: #e17b77;
  height: 40px;
  width: 200px;
  position: relative;
  right: -170px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.smb__icons--fa-laptop-code:hover {
  right: 0px;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.smb__icons--fa-laptop-code::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f5fc";
  font-size: 18px;
  margin-right: 1em;
}

.smb__icons--fa-facebook-f {
  background-color: #3b5998;
  height: 40px;
  width: 200px;
  position: relative;
  right: -170px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.smb__icons--fa-facebook-f:hover {
  right: 0px;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.smb__icons--fa-facebook-f::before {
  content: "\f39e";
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  font-size: 18px;
  margin-right: 1em;
}

.smb__icons--fa-twitter {
  background-color: #00aced;
  height: 40px;
  width: 200px;
  position: relative;
  right: -170px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.smb__icons--fa-twitter:hover {
  right: 0px;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.smb__icons--fa-twitter::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f099";
  font-size: 18px;
  margin-right: 1em;
}

.smb__icons--fa-github {
  background-color: #333;
  height: 40px;
  width: 200px;
  position: relative;
  right: -170px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.smb__icons--fa-github:hover {
  right: 0px;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.smb__icons--fa-github::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f09b";
  font-size: 18px;
  margin-right: 1em;
}

.smb__icons--fa-linkedin-in {
  background-color: #007bb6;
  height: 40px;
  width: 200px;
  position: relative;
  right: -170px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.smb__icons--fa-linkedin-in:hover {
  right: 0px;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.smb__icons--fa-linkedin-in::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f0e1";
  font-size: 18px;
  margin-right: 1em;
}

.smb a:link {
  text-decoration: none;
}

.smb a:visited {
  color: #fff;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */